[Desktop Entry]
Version=1.0
Name=YoutubeDownloaderPasswordGenerator
Comment=YoutubeDownloader that generate password to access into application
Exec=gnome-terminal -e "bash -c 'cd /home/morris/TelegramBot/YoutubeDownloaderPasswordGenerator; npm install;node bot.js;$SHELL'"
Icon=/home/morris/TelegramBot/YoutubeDownloaderPasswordGenerator/images/image.png
Terminal=true
Type=Application
Categories=Application;
Name[it_IT]=YoutubeDownloaderPasswordGenerator.desktop
